<script type="text/javascript" src="{{ baseUrl }}/node_modules/jquery/dist/jquery.js"></script>

<script type="text/javascript" src="{{ baseUrl }}/assets/js/main.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/assets/js/util.js"></script>

<script type="text/javascript" src="{{ baseUrl }}/assets/js/question/add-question.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/assets/js/user/edit-profile.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/assets/js/forum/add-topic.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/assets/js/forum/add-comment.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/assets/js/quiz/start-quiz.js"></script>

<script type="text/javascript" src="{{ baseUrl }}/assets/js/app.js"></script>