{% extends "../layout.html" %}

{% block content %}
<section class="authentification-section" id="signup">
  <div class="container-fluid">
    <div class="card form-card form-small form-block whiteframe-z2">
      <div class="logo-name">
        <div class="icon">
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="name">
          <p>
            StudyBuddy
          </p>
        </div>
      </div>
      <p>
        A perfect helper for your exams.</br>
      </p>
      <h3>Create new account! Is <b>FREE!</b></h3>
      {% if historyData.errorMessage %}
      <div class="has-error">
        <label class="control-label">{{ historyData.errorMessage }}</label>
      </div>
      {% endif %}
      <form
        class="all-form-group"
        action='{{ baseUrl }}/register'
        method='post'
        id="register-form">
        <div class="form-group">
          <label for="name">Full name:</label>
          <input
            class="form-control"
            type='text'
            name='name'
            placeholder='Full name *'
            value="{{ sess.historyData.name }}" />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            class="form-control"
            type='text'
            name='email'
            placeholder="Email *"
            value="{{ sess.historyData.email }}" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            class="form-control"
            type='password'
            name='password'
            placeholder="Password *" />
        </div>
        <div class="form-group">
          <label for="password-confirm">Confirm Password:</label>
          <input
            class="form-control"
            type='password'
            name='password_confirm'
            placeholder='Confirm Password *' />
        </div>
        <div class="form-group bottom-button">
          <button
            class="btn btn-default block"
            type="submit">
            Create account
          </button>
        </div>
      </form>
      <div class="already-account">
        <p>Already have an account?<br/> You can
          <a href='{{ baseUrl }}/signin'
             title="Existing account sign in">
             <b>SIGN IN</b> <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
          here!
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
