html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  background-color: #f3f3f4;
}

.hide {
  display: none;
}
.dashboard-header {
  background-color: rgba(142, 91, 156, 0.86);
  box-shadow: 0 7px 6px 0 rgba(142, 91, 156, 0.86);
}
.header-links {
  float: right;
  padding: 15px 0 15px 0;
}
.header-links li {
  list-style: none;
  display: inline-block;
  padding: 0 5px 0 0;
  border-right: 1px solid grey;
}
.header-links li:last-of-type {
  border: 0;
}
.header-links li a {
  text-decoration: none;
  color: #334452;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-links li a:hover {
  color: #337ab7;
  border-top: 2px solid #337ab7;
  border-bottom: 2px solid #337ab7;
}
.landing-container {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  padding-top: 140px;
}
.landing-header {
  background: url("../img/StudyBuddy.png");
  background-position: left top;
  background-repeat: no-repeat;
  height: auto;
}
.landing-header p {
  text-align: center;
  font-size: 16px;
  width: 20%;
  float: right;
  margin: 20px 32px 15px 0;
}
.landing-header form {
  width: 15%;
  float: right;
  margin-right: 62px;
  label {
  padding-left: 13px !important;
  }
  button {
    margin-left: 47px;
  }
  input, button {
    font-family: 'Roboto', sans-serif;
  }
  button {
    text-transform: uppercase;
    font-weight: 700;
  }
}
.landing-header .sign-up-section {
  position: relative;
  a {
    text-decoration: none;
    margin-left: 40px;
    color: #334452;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: absolute;
    right: 92px;
    top: 73px;
    &:hover {
      color: #337ab7;
      border-top: 2px solid #337ab7;
      border-bottom: 2px solid #337ab7;
    }
  }
}
.inner-landing h1 {
  text-align: center;
}
.inner-landing p {
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
}
.dashboard-header .header-links li .navbar-form {
  margin: 0;
  padding: 0 5px 0 0;
}
.dashboard-header .header-links li .navbar-form input {
  padding: 0 8px;
  height: 22px;
}
.dashboard-header .header-links li .navbar-form .input-group-btn button {
  height: 22px;
}
.dashboard-header .header-links li .navbar-form .input-group-btn button .glyphicon {
  bottom: 2px;
  top: unset;
}
.dashboard-header .header-links li:first-of-type {
  border: 0;
  padding: 0;
}
.dashboard-inner {
  margin-top: 50px;
}
.dashboard-inner .titles {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  color: #334452;
}
.dashboard-inner .round-action {
  border-radius: 50%;
  width: 253px;
  margin: 0 auto;
  height: 253px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #334452;
  }
}
.dashboard-inner .add-questions {
  background-color: #c76256;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dashboard-inner .add-questions:hover {
  opacity: 0.8;
}
.dashboard-inner .add-questions:hover i {
  opacity: 0.3;
}
.dashboard-inner .add-questions:hover p {
  opacity: 0.9;
  color: #334452;
  font-weight: 700;
}
.dashboard-inner .add-questions p {
  text-align: center;
  position: relative;
  top: 60px;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  opacity: 0.6;
}
.dashboard-inner .add-questions i {
  font-size: 100px;
  text-align: center;
  position: relative;
  left: 93px;
  top: 60px;
}
.dashboard-inner .take-test {
  background-color: #59bd7f;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dashboard-inner .take-test:hover {
  opacity: 0.8;
}
.dashboard-inner .take-test:hover i {
  opacity: 0.3;
}
.dashboard-inner .take-test:hover p {
  opacity: 0.9;
  color: #334452;
  font-weight: 700;
}
.dashboard-inner .take-test p {
  text-align: center;
  position: relative;
  top: 60px;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  opacity: 0.6;
}
.dashboard-inner .take-test i {
  font-size: 100px;
  text-align: center;
  position: relative;
  left: 93px;
  top: 93px;
}
.dashboard-inner .high-scores {
  background-color: #d8d8d8;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dashboard-inner .high-scores:hover {
  opacity: 0.7;
}
.dashboard-inner .high-scores:hover i {
  opacity: 0.3;
}
.dashboard-inner .high-scores:hover p {
  opacity: 0.9;
  color: #334452;
  font-weight: 700;
}
.dashboard-inner .high-scores p {
  text-align: center;
  position: relative;
  top: 60px;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  opacity: 0.6;
}
.dashboard-inner .high-scores i {
  font-size: 100px;
  text-align: center;
  position: relative;
  left: 78px;
  top: 81px;
}
.forum {
  float: right;
  margin-top: 100px;
}
.forum p {
  text-align: center;
  font-size: 16px;
  cursor: default;
}
.forum a {
  padding: 17px 25px;
  position: relative;
  top: 25px;
  left: 76px;
  background-color: #ee7326;
  border-radius: 15px;
  color: #313e5c;
  text-decoration: none;
  font-size: 20px;
}
.forum a i {
  font-size: 40px;
  position: relative;
  top: 8px;
  right: 10px;
}
.sign-up-form {
  margin-top: 80px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 20px 0;
}
.sign-up-form h2 {
  text-align: center;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.sign-up-form input {
  width: 60%;
  margin: 0 auto;
}
.sign-up-form button {
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  margin-left: 185px;
}
.authentification-section {
  .container-fluid {
    .card {
      text-align: center;
      padding-top: 50px;
      width: 35%;
      margin: 0 auto;
      .logo {
        i {
          padding: 5px 10px 0 0;
        }
      }
      p {
        font-size: 15px;
        margin-bottom: 25px;
        a {
          text-decoration: none;
          color: #334452;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 16px;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          &:hover {
            color: #337ab7;
            border-top: 2px solid #337ab7;
            border-bottom: 2px solid #337ab7;
          }
        }
      }
      h3 {
        margin-bottom: 25px;
      }
      form {
        input, button {
          font-family: 'Roboto', sans-serif;
        }
        button {
          text-transform: uppercase;
          font-weight: 700;
        }
        label {
        padding-left: 13px !important;
        }
        .form-group {
          text-align: left;

        }
        .bottom-button {
          text-align: center;
        }
      }
    }
  }
}
.account-inner {
  text-align: center;
  padding-top: 50px;
  width: 35%;
  margin: 0 auto;
  .logo {
    i {
      padding: 5px 10px 0 0;
    }
  }
  p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 25px;
  }
  form {
    input, button {
      font-family: 'Roboto', sans-serif;
    }
    button {
      text-transform: uppercase;
      font-weight: 700;
    }
    label {
    padding-left: 13px !important;
    }
    .form-group {
      text-align: left;
    }
    .bottom-button {
      text-align: center;
    }
  }
}
.add-questions-inner {
  text-align: center;
  padding-top: 50px;
  width: 35%;
  margin: 0 auto;
  .logo {
    i {
      padding: 5px 10px 0 0;
    }
  }
  p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 25px;
  }
  form {
    input, button {
      font-family: 'Roboto', sans-serif;
    }
    button {
      text-transform: uppercase;
      font-weight: 700;
    }
    label {
    padding-left: 13px !important;
    }
    .form-group {
      text-align: left;
    }
    .bottom-button {
      text-align: center;
    }
    .answer-container {
      text-align: left;
      margin-bottom: 15px;
      label {
        padding-left: 5px !important;
      }
    }
    .messages-container {
      height: 20px;
      margin-top: 15px;
      .warning {
        color: tomato;
      }
      .success {
        color: #39b93b;
      }
    }
  }
}
