<form
    action='{{ baseUrl }}/add-question'
    method='post'
    id="question-form"
    role="form">
  <div class="form-group">
    <input
        name="body"
        type="text"
        class="form-control"
        placeholder="Question body *">
  </div>
  <div class="form-group">
    <input
        type="text"
        class="form-control"
        name="answer"
        placeholder="Answer *">
  </div>
  <div class="form-group">
    <input
        type="text"
        class="form-control"
        name="topic"
        placeholder="Choose topic *">
  </div>
  <div class="form-group">
    <input
        type="text"
        class="form-control"
        name="correctAnswer"
        placeholder="Correct answer *">
  </div>
  <div class="form-group">
    <input
        type="text"
        class="form-control"
        name="difficultyLvl"
        placeholder="Difficulty level *">
  </div>
  <button
      type="submit"
      class="btn btn-default login">
    Register
  </button>
</form>