{% extends "../layout.html" %}

{% block content %}
<div
  data-module="take.quiz"
  data-time="{{time.minutes}}"
  data-date="{{time.date}}"
  class="take-quiz">
  <div>Time left to solve the quiz: <span id="time"></span></div>
  <div class="warning">{{historyData.errorMessage}}</div>
  <div class="container-fluid col-offset-md-4">
    {% for question in questions %}
      <div class="content">{{question.content}}</div>
      {% for answer in question.answers %}
        {% if question.answersType == 'single choice' %}
          <input
            class="answer"
            type="radio"
            name="{{question._id}}"
            data-id="{{answer._id}}"
            data-dif="{{question.difficultyLvl}}" />
          <label for="{{answer._id}}">{{answer.body}}</label>
        {% else %}
          <input
            class="answer"
            type="checkbox"
            name="{{question._id}}"
            data-id="{{answer._id}}"
            data-dif="{{question.difficultyLvl}}" />
          <label for="{{answer._id}}">{{answer.body}}</label>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <div><button class="quiz-submit">Submit</button></div>
</div>
{% endblock %}