{% extends "../layout.html" %}

{% block content %}
<div class="">
  <div class="warning">{{historyData.errorMessage}}</div>
  <div class="container-fluid col-offset-md-4">
    {% for question in questions %}
      <div>{{question.body}}</div>
      {% for answer in question.answers %}
        {% if question.answerType == 'single' %}
          <input type="radio" name="{{answer.index}}" id="{{answer._id}}-{{answer.index}}"/>
          <label for="{{answer._id}}-{{answer.index}}">{{answer.body}}</label>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  </div>
{% endblock %}