{% extends "../layout.html" %}

{% block content %}
{%include "../common/partials/header.html" %}
{%include "../common/partials/navbar.html" %}
<!-- main section  -->
<div class="row">
  <div class="container-fluid dashboard-inner">
    <div class="col-md-4">
      <h3 class="titles">Add a question</h3>
    </div>
    <div class="col-md-12"></div>
    <div
      data-module="add.question"
      class="add-question col-md-offset-1 col-md-4">
      <form
          id="question-form"
          role="form"
          method="post">
        <div class="form-group">
          <input
              name="questionBody"
              type="text"
              class="form-control"
              placeholder="Question body *">
        </div>
        <div class="form-group">
          <input
              type="text"
              class="form-control"
              name="answerType"
              placeholder="Answer type *">
        </div>
        <div class="answer-container form-group">
          <input
              type="text"
              class="answer form-control"
              name="answer"
              placeholder="Answer *">
        </div>
        <div class="form-group">
          <input
              type="text"
              class="form-control"
              name="category"
              placeholder="Choose topic *">
        </div>
        <div class="form-group">
          <input
              type="text"
              class="form-control"
              name="correctAnswer"
              placeholder="Correct answer *">
        </div>
        <div class="form-group">
          <input
              type="text"
              class="form-control"
              name="difficultyLvl"
              placeholder="Difficulty level *">
        </div>
        <button
            type="submit"
            class="btn btn-default">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
{%include "../common/partials/footer.html" %}
{% endblock %}