{% extends "../layout.html" %}

{% block content %}
{%include "../common/partials/header.html" %}
{%include "../common/partials/navbar.html" %}
<!-- main section  -->
<div class="row">
  <div class="container-fluid add-questions-inner">
      <h1 class="titles"><i class="fa fa-question" aria-hidden="true"></i> Add a question</h1>
      <p>
        Add a question on whatever topic you'd like and we'll show you if it has been added before
      </p>
    <div
      data-module="add.question"
      class="add-question">
      <form
          id="question-form"
          role="form"
          method="post">
        <div class="form-group">
          <label for="question-body">Question body</label>
          <input
              name="questionBody"
              type="text"
              class="form-control"
              placeholder="Question body *"
              id="content">
        </div>
        <div class="question-matches">
          <p> No matching questions found</p>
        </div>
        <div class="form-group">
          <label for="answer-type">Answer type</label>
          <input
              type="text"
              class="form-control"
              name="answerType"
              id="type"
              placeholder="Answer type *">
        </div>
        <div class="answer-container">
          <button class="add-answer">+</button>
          <label>Add answer</label>
        </div>
        <div class="form-group">
          <label for="choose-topic">Choose topic</label>
          <input
              type="text"
              class="form-control"
              name="category"
              placeholder="Choose topic *">
        </div>
        <!--<div class="form-group">-->
          <!--<input-->
              <!--type="text"-->
              <!--class="form-control"-->
              <!--name="correctAnswer"-->
              <!--placeholder="Correct answer *">-->
        <!--</div>-->
        <div class="form-group">
          <label for="difficulty-level">Difficulty level</label>
          <input
              type="text"
              class="form-control"
              name="difficultyLvl"
              placeholder="Difficulty level *">
        </div>
        <button
          type="submit"
          class="btn btn-default submit-btn">
          Save
        </button>
      <div class="messages-container">
        <span class="hide warning"></span>
        <span class="success">{{session.successMessage}}</span>
      </div>
      </form>
    </div>
  </div>
</div>
{%include "../common/partials/footer.html" %}
{% endblock %}
