{% extends "../layout.html" %}

{% block content %}
{%include "../common/partials/header.html" %}
{%include "../common/partials/navbar.html" %}
<!-- main section  -->
<div class="">
  <div class="col-md-4 col-md-offset-4 dashboard-inner">
    <div>
      User score

      {% for key, badge in badges %}
      <span>{{badge.type}}</span>
      <span>{{badge.receivedAt}}</span>
      {% endfor %}

			<div>
				Quizzes taken
				<span>{{quizzes}}</span>
			</div>
			<div>
				Questions added
				<span>{{nquestions}}</span>
			</div>

      {% for question in questions %}
			<article>
				Content:
				<div>{{question.content}}</div>
				<span>Category: {{question.categories}}</span>
				<span>Difficulty: {{question.difficultyLvl}}</span>
			</article>
      {% endfor %}
    </div>
  </div>
</div>-
{% endblock %}
