<div class="container-fluid dashboard-header">
  <!-- header part links -->
  <ul class="header-links">
    <li>
      <a href="{{baseUrl}}/add-question">
        Add a question
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="{{baseUrl}}/start-quiz">
        Take a test
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="{{baseUrl}}/highscores">
        Highscores
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
</div>