<div class="container-fluid navbar-header-second">
  <!-- header part links -->
  <ul class="header-links">
    <li>
      <a href="{{baseUrl}}/add-question">
        Add a question <i class="fa fa-question" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="{{baseUrl}}/start-quiz">
        Take a test <i class="fa fa-file-text" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="{{baseUrl}}/highscores">
        Highscores <i class="fa fa-list-ol" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
</div>
