<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study buddy</title>
    {% block head %}
    {% include "includes/stylesheets.html" %}
    {% endblock %}
</head>
<body>
    <main class="row">
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}
    <script type="text/javascript">
        (function() {
            'use strict';

            window['CONFIG'] = {
                baseUrl: '{{ baseUrl }}'
            };
        }());
    </script>
    {% include "includes/scripts.html" %}
    {% endblock %}
</body>
</html>