{% extends "../layout.html" %}

{% block content %}
{%include "./partials/header.html" %}
<!-- main section  -->
  <div class="container-fluid dashboard-inner col-md-12">
    <div class="col-md-4">
      <h3 class="titles">Add a question</h3>
      <div class="round-action add-questions">
				{% if score < 50 %}
					<p>
						You need to reach at least 50 score to unlock this.
						Current score {{score}}
					</p>
					<i class="fa fa-lock" aria-hidden="true"></i>
				{%else%}
        <a href="{{baseUrl}}/add-question">
          <p>
            You have unlocked this feature.
            Current score {{score}}
          </p>
          <i class="fa fa-unlock" aria-hidden="true"></i>
        </a>
				{%endif%}
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="titles">Take a test</h3>
      <div class="round-action take-test">
        <a href="{{baseUrl}}/start-quiz">
          <p>
            Let's take a test! Are you ready?
          </p>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="titles">High scores</h3>
      <div class="round-action high-scores">
        <a href="{{baseUrl}}/highscores">
        <p>
          They are the best. Can you beat them?
        </p>
        <i class="fa fa-list-ol" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
{%include "./partials/footer.html" %}
{% endblock %}
