{% extends "../layout.html" %}

{% block content %}
{%include "./partials/header.html" %}
{%include "./partials/navbar.html" %}
<div><a href="{{baseUrl}}/forum">Go back to forum</a></div>
<div>
  <div>{{topic.topic}}</div>
  {% for comment in comments %}
  <div>
    <span>Posted at</span>
    {{comment.createdAt.toLocaleDateString()}} - {{comment.createdAt.toLocaleTimeString()}}
  </div>
  <div>{{comment.body}}</div>
  <div><span>User</span>{{comment.user.name}}</div>
  {% endfor %}
</div>
<div data-module="add.comment" class="col-md-4 comment-section">
  <span class="titles">Add a comment</span>
  <form
      data-hash="{{ topic.hash }}"
      id="comment-form">
    <div class="form-group">
      <input
          type="text"
          class="form-control"
          name="add-comment"
          autocomplete="off"
          placeholder="Add a comment *">
    </div>
    <button
        type="submit"
        class="btn btn-default">
      Add
    </button>
  </form>
</div>
{% endblock %}
