{% extends "../layout.html" %}

{% block content %}
{%include "./partials/header.html" %}
{%include "./partials/navbar.html" %}
<!-- main section  -->
  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-4 high-sc">
      <h1><i class="fa fa-list-ol" aria-hidden="true"></i> Highscores</h1>
      {%  for stat in statistics %}
      <article>
				<div>Name: <span class="bigger-text">{{stat.user.name}}</span></div>
				<div>Score: <span class="bigger-text">{{stat.score}}</span></div>
				<div>Questions added: <span class="bigger-text">{{stat.questions}}</span></div>
        <div>Quizzes taken: <span class="bigger-text">{{stat.quizzesTaken}}</span></div>
			</article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
